* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 80px auto;
    max-width: 560px;
    width: 100%;
}

header h2 {
    margin-bottom: 18px;
    font-style: italic;
    font-weight: bold;
    font-size: 39px;
}

.form-campo label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
    font-style: italic;
}

form input {
    width: 40%;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

form button {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(56, 61, 56);
    color: #fff;
    border: none;
    width: 13%;
    cursor: pointer;
    font-style: italic ;
}

form button:hover {
    background-color: rgb(126, 133, 120);
}
